.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.product {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 0.5rem;
    padding: 1rem;
}

.product>h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.4em;
    max-height: 2.8em;
}

.product > .img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product>p {
    white-space: normal;
}