.container-tutorial {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1%;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}

.seletores {
    display: flex;
    flex-direction: column;
    margin-inline-start: 10px;
}

select {
    width: 200px;
    border-radius: 50px;
    border: 2px solid #adadad;
    background-color: #dfdfdf;
}

.video {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    height: auto;
    border-radius: 1rem;
    border: 2px solid #adadad;
}

.title {
    text-align: center;
}

@media (max-width: 900px) {
    iframe {
        width: 100%;
    }
}

@media (max-width: 650px) {

    form {
        flex-direction: column;
        align-items: center
    }

    .seletores {
        width: 90%;
        margin-left: 0px;
    }

    select {
        width: 100%;    
    }
    .title {
        font-size: 1.5rem;
    }
}