.container-tutorial {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-top: 26px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 26px;
}

.seletores {
    display: flex;
    flex-direction: column;
    margin-inline-start: 10px;
}

select {
    width: 200px;
    padding: 4px;
    border-radius: 50px;
    border: 2px solid #adadad;
    background-color: #dfdfdf;  
}

.container-video {
    margin-bottom: 30px;
}

.video {
    display: flex;
    justify-content: center;
}

iframe {
    width: 780px;
    height: 460px;
    border-radius: 10px;
    border: 2px solid #adadad;
    background-color: #dfdfdf;
}

.title {
    text-align: center;
    margin-top: 26px;
}